/* font-family: 'Roboto', sans-serif;
font-family: 'Poppins', sans-serif;
 */

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.title-header {
  text-align: center;
  color: black;
}

.main-logo {
  height: 200px;
  width: 250px;
  margin-left: 575px;
  z-index: 1000;
}


