.card-image {
  background: #fff;
  border-radius: 2px;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: auto;
  text-align: left;
}

.card-image > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:black;
}
.card-image > .img-container > img {
  height: auto;
  width: 100%;
}

.card-image:hover {
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
 
}

.card-event {
  padding: 10px;
  color:white;
  height: 55%;
}

.card-body {
  margin-top: 20px; 
  color: white;
  height: 45%;
}